// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"primary": #F2B705,
				"secondary":#385273,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

#logo{
	content: url("../images/zeeker_logo.webp");
	max-height: 60px;
}



.imageOverlay{
	background-blend-mode:overlay;
	background-color: rgba(0, 0, 0, 0.6) !important;
	}

#kundeLogo{
	position:relative;
	top:-8px;
}

.kundeLogoKundeSide{
	max-width: 300px;
}

#navbarSupportedContent a{
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
.kundeSideTextTykkelse h5{
	font-weight: 350;
}

.hero .text-md-start{
	position: relative;
	top:180px;
	left: 70px;
}

#footerIcons .d-flex img{
	height: 20px;
}

@media (min-width: 768px) {
	#kodeUnik{
		padding-top: 6px;
		padding-bottom: 6px;
		margin-top: 8px;
		margin-bottom: -20px;
	}

}
